#contentMain::part(background) {
    background: url('../../img/fondocapa.jpg') !important;
}

#imgLogo{
	content:url("../../img/logo_white.png");
    height: 100px;;
}

#inputLogin{
    border-radius: 12px;
    height: 51px;
}

::part(native){
    border-radius: 7px;
}

.item-highlight{
    background: white !important;
}