#titleFacturas{    
    font-size: 25px;
    font-weight: 700;
    display: flex;
    position: relative;
    flex: 1 1 0%;
    flex-direction: inherit;
    align-items: inherit;
    align-self: stretch;
    min-height: inherit;
    margin-top: 14px;
    margin-bottom: 10px;
}

#iconCheck{
    content:url("../../img/check.png");
}